/* USER VARIABLES SECTION */

:root {
  --accent-color: #ffffff;
  --text-size: 20px;
  --line-height: 1.65;
  --user-font: roboto-st, sans-serif;
  --time-font: 210px;
}

/* FONTS LOAD SECTION */

@font-face {
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 700;
  font-style: normal;
}

/* GENERAL CSS SETTINGS */

*,
*::after,
*::before {
  box-sizing: border-box;
}

::placeholder {
  color: #666;
}
::selection {
  background-color: var(--accent);
  color: #fff;
}
input,
textarea {
  outline: none;
}
body {
  font-family: var(--user-font);
  font-size: var(--text-size);
  line-height: var(--line-height);
  color: var(--accent-color);
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: rgb(4, 53, 53);
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

/* USER STYLES */

.image {
  max-width: 100%;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header {
  min-height: 220px;
}
.time__inner {
  font-size: var(--time-font);
  font-weight: 400;
}
