/* USER VARIABLES SECTION */

:root {
  --accent-color: #ffffff;
  --text-size: 20px;
  --line-height: 1.65;
  --user-font: roboto-st, sans-serif;
  --time-font: 210px;
}

/* FONTS LOAD SECTION */

@font-face {
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 700;
  font-style: normal;
}

/* GENERAL CSS SETTINGS */

*,
*::after,
*::before {
  box-sizing: border-box;
}

::placeholder {
  color: #666;
}

input,
textarea {
  outline: none;
}
body {
  font-family: var(--user-font);
  font-size: var(--text-size);
  line-height: var(--line-height);
  color: var(--accent-color);
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: rgb(4, 53, 53);
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.container {
 max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

/* USER STYLES */

.image {
  max-width: 100%;
}
.btn-reset {
  border: none;
  background-color: transparent;
  padding: 0;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header {
  min-height: 220px;
}
.section-time {
  position: relative;
  width: 100%;
  padding: 0 50px;
  text-align:center
}
.time__inner {
  position: relative;
  font-size: var(--time-font);
  font-weight: 400;
  line-height: 1;
}
.time__settings {
  position: absolute;
  top: 5%;
  right: 8%;
  bottom: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  padding: 22px 0;
}
.btn {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}
.btn--active {
  visibility: visible;
  opacity: 1;
}
.btn:hover {
  background-color: rgba(256, 256, 256, 0.3);
}
.settings__clock {
  background-image: url("../images/clock.svg");
}
.fieldset__format {
  width: 150px;
  height: 80px;
  border-radius: 10px;
  display: none;
}
.active {
  display: block;
}
.legend {
  text-align: center;
  font-size: 16px;
  padding: 0 10px;
}
.label {
  position: absolute;
  right: 50%;
 transform: translateX(50%);
}
.checkbox-input {
  appearance: none;
  display: none;
}
.checkbox-input--clone {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  background-color: var(--accent-color);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5) inset;
  border-radius: 50px;
}
.checkbox__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: linear-gradient(0deg, rgb(70, 115, 249) 31%, rgb(239, 252, 252));
  transform: scale(.8);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .7);
  transition: .3s;
}
.checkbox-input:checked ~ .checkbox__indicator {
  left: 30px;
}
